{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leo Fininho</title>
    <link rel="stylesheet" href="{% static 'css/padrao.css' %}">
</head>
<body>
    <header>
        <div class="interface">
            <div class="logo">
                <H1>Léo Fininho</H1>
            </div> <!--Logo-->
            <nav class="menu_desktop">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Musicas</a></li>
                    <li><a href="">Biografia</a></li>
                </ul>
            </nav> <!--menu_desktop-->
            <div class="btn-contato">
                <a><button>Contato</button></a>
            </div>
        </div> <!--interface-->
    </header>
    <main>
        <section class="topo_do_site">
            <div class="interface">
                <div class="flex">
                    <div class="txt_topo_site">
                        <p>A música é a linguagem das emoções, um eco que fala direto ao coração, transcende as palavras
                        e nos leva a lugares onde as emoções fluem livremente.</p>
                    </div> <!--txt_topo_site-->
                    <div class="img_topo_site">
                        <img src="{% static 'img/foto_principal_leo.jpg' %}" alt="foto_leo_fininho">
                    </div> <!--img_topo_site-->
                </div> <!--flex-->
            </div> <!--interface-->
        </section> <!--topo_do_site-->
        <section class="musicas">
            <div class="titulo_musicas">
                <h2>
                    Musicas
                </h2>
            </div>
            <div class="layout">
                <h3>
                    Gente:
                </h3>
                <iframe src="https://www.youtube.com/embed/hlRobEKcX9w?si=Lfw0IwE3yLJOWFvK"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay;
                        clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                </iframe>
                <h3>
                    Chame o Doutor:
                </h3>
                <iframe src="https://www.youtube.com/embed/qlTHHn_rC4w?si=Yi5pg1eFO6ONkOuL"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                               picture-in-picture; web-share"
                        allowfullscreen>
                </iframe>
                <h3>
                    A sete cheves:
                </h3>
                <iframe src="https://www.youtube.com/embed/mSoHmF_8XCQ?si=J1nfY9PlM5Yko839"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                               web-share"
                        allowfullscreen>
                </iframe>
            </div>
        </section>
        <section class="biografia">
            <div class="interface">
                <div class="texto_biografia">
                    <h2>
                        Biografia!
                    </h2>
                    <p>
Minha primeira lembrança de música é minha avó cantando em casa " Sambalelê" e depois o contato que tive durante toda a
infância nos verões na praia do Hermenegildo RS onde meu primo tocava violão  se escutava muita música o dia todo.
Muito novo ganhei um disco compacto de papelão onde eu escutava uma única música o dia todo,." O Calhambeque" música do
Tremendão na voz do Roberto.
Chico, Caetano, Clube da esquina,Beto Guedes e música nativista , as Califórnias da canção nativa faziam parte da música
que rolava na casa do meu tio e eu escutava diariamente. Nessa casa tive a honra de conhecer Basílio Conceição, grande
compositor gaúcho.
                    </p>
                    <p>
Até o fim da infância ,recheada de quadrinhos e poesia que leio desde novo por influência da minha avó que escrevia
poemas e me incentivava a escrever, essas são as lembranças musicais que mais guardo.
                    </p>
                    <p>
Até os 13 anos minha vida era quadrinhos , mas participava de um grupo jovem da Igreja Católica onde conheci músicos e
compositores muito talentosos. Me lembro da primeira vez que alguém me mostrou uma composição sua e achei incrível
alguém fazer uma canção,  eu sempre criei melodias e letras doidas na minha cabeça mas não eram canções.
                    </p>
                    <p>
Aos 14 entrei pra Etfpel ( Escola Técnica Federal de Pelotas) onde foi minha iniciação no rock, começei com bandas
nacionais , Legião,   Camisa de Vênus, Engenheiros do Hawai e Ira!
                    </p>
                    <p>
Um dia eu ia comprar discos e convidei um colega meu o Marcelo apelido ( Bondeboca)
a me indicar discos de bandas internacionais e esse dia mudou minha vida pra sempre.
Nesse dia sai da  loja com 4 discos escolhidos a dedo pelo Marcelo e escuto todos muito até hoje. Foram eles , Led IV ,
uma paulada sonora, The dark side of the moon do Pink Floyd me levou a viajar até o lado escuro do som , Powerhouse uma
coletânea avassaladora do Deep Purple e Permanent Waves que explica minha paixão pelo Rush.
Depois disso tudo veio, The Beatles ( Revolver) ( Sg Peepers) The Tolling Stones ( Stick fingers e o segundo dos
Stones). Assim conheci o rock que considero o ritmo que mais me identifico até hoje.
                    </p>
                    <p>
Mas voltando as composições eu tinha uma grande amiga na época e ela tocava e compunha muito bem , comecei a escrever e
compor influenciado pelas composições dela que eu achava belíssimas.
                    </p>
                    <p>
Na Igreja todos queriam ter uma banda de rock, mas como ninguém da banda compunha eu comecei a fazer várias canções e
duas acabaram no repertório dessa banda que saiu da Igreja e virou uma banda de rock não gospel.
                    </p>
                    <p>
Tocavam duas composições minhas e duas da Patrície os únicos dois que ficaram de fora da banda.
                    </p>
                    <p>
Minhas composições eram " Aluno" uma sátira do dia a dia na escola e " Vida descartável " que está pra ser colocada na
Internet em uma gravação que a banda fez em estúdio,  essa foi a primeira música minha que escutei tocar no rádio.
                    </p>
                    <p>
Depois veio POA e Passo Fundo...
                    </p>
                </div>
            </div>
        </section><!--biografia-->
    </main>
</body>
</html>